<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>page not found</title>
    <link rel="stylesheet" href="http://104.248.78.115/assets_error/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://104.248.78.115/assets_error/fonts/ionicons.min.css">
    <link rel="stylesheet" href="http://104.248.78.115/assets_error/css/Footer-Basic.css">
    <link rel="stylesheet" href="http://104.248.78.115/assets_error/css/styles.css">
</head>

<body>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" onclick="nextTab_Home();">Home Page</a></li>
    </ul>
    <div><img class="img-fluid" src="http://104.248.78.115/assets_error/img/featured_404.jpg"></div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">EE4216 © 2018</p>
        </footer>
    </div>
    
    <script>
        console.log("err");
        function nextTab_Home(){
            window.location.href = "http://104.248.78.115";
        }
        
    </script>
    <script src="http://104.248.78.115/assets_error/js/jquery.min.js"></script>
    <script src="http://104.248.78.115/assets_error/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>