<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>404</title>
    <link rel="stylesheet" href="http://104.248.78.115/assets_error/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://104.248.78.115/assets_error/css/styles.css">
</head>

<body>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" style="cursor: pointer;" onclick="nextTab_Home();">Home page</a></li>
    </ul>
    <div><img class="img-fluid" src="http://104.248.78.115/assets_error/img/product-not-found.jpg"></div>
    
    <script>
        console.log("404");
        function nextTab_Home(){
            window.location.href = "http://104.248.78.115";
        }
        
    </script>
    <script src="http://104.248.78.115/assets_error/js/jquery.min.js"></script>
    <script src="http://104.248.78.115/assets_error/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>